<section @fadeInAnimation>
<!-- <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Classes</li>
</ol> -->

<br/>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage"  id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<br><br><br>
<h2>Classes</h2>

<a class="btn btn-primary" routerLink="/class/add">Add Class</a><br><br>

<table datatable id="dataTable" class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Class ID</th>
      <th onclick="sortTable(1)"> <i class="fas fa-sort"></i> <u>Last Name</u></th>
      <th>First Name</th>
      <th onclick="sortTable(3)"> <i class="fas fa-sort"></i> <u>Years of Experience</u></th>
      <th>Subject</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let classy of classes">
      <td>{{classy.class_id}}</td>
      <td>{{classy.instructor?.last_name}}</td>   
      <td>{{classy.instructor?.first_name}}</td>
      <td>{{classy.instructor?.years_of_experience}}</td>
      <td>{{classy.subject}}</td>
      <td>{{classy.course}}</td>
      <td class="text-center">
        <a class="btn btn-light" [routerLink]="['/class/edit/', classy.class_id]"><i class="fas fa-pencil-alt"></i></a>&nbsp;
        <button (click)="deleteClass(classy.class_id, classy.instructor.first_name + ' ' + classy.instructor.last_name)" class="btn btn-light"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
</section>