<section @fadeInAnimation>
  <ol class="breadcrumb">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/student">Students</a></li>
      <li class="active">Manage Student</li>
  </ol>

  <br><br><br><br><br>
  <a class="btn btn-primary" routerLink="/student">Return to Students</a>
  <h2>New Student</h2>

<div style="width: 250px;">
  <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
      {{errorMessage}} {{successMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>

<form novalidate (ngSubmit)="saveStudent(studentForm)"  #studentForm="ngForm" class="form-horizontal">
    <input [ngModel]="student?.student_id" ngModel #student_id="ngModel" type="hidden" name="student_id">
    <div class="form-group">
      <label for="first_name" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input [ngModel]="student?.first_name" ngModel #first_name="ngModel" type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required minlength="2" maxlength="30">
         <span *ngIf="formErrors.first_name" class="text-danger">
          {{ formErrors.first_name }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="last_name" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input [ngModel]="student?.last_name" ngModel #last_name="ngModel" type="text" class="form-control" id="last_name" name="last_name"  placeholder="Last Name" required minlength="2" maxlength="30">
        <span *ngIf="formErrors.last_name" class="text-danger">
          {{ formErrors.last_name }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="start_date" class="col-sm-2 control-label">Start Date</label>
      <div class="col-sm-10">
        <input [ngModel]="student?.start_date" ngModel #start_date="ngModel" type="text" class="form-control" id="start_date" name="start_date" placeholder="2017-01-01" pattern="(\d{4})-(\d{2})-(\d{2})">
        <span *ngIf="formErrors.start_date" class="text-danger">
          {{ formErrors.start_date }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="gpa" class="col-sm-2 control-label">GPA</label>
      <div class="col-sm-10">
        <input [ngModel]="student?.gpa" ngModel #gpa="ngModel" type="text" class="form-control" id="gpa" name="gpa" placeholder="4.0" maxLength="4" pattern="\d+\.\d+">
        <span *ngIf="formErrors.gpa" class="text-danger">
          {{ formErrors.gpa }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="sat" class="col-sm-2 control-label">SAT Score</label>
      <div class="col-sm-10">
        <input [ngModel]="student?.sat" ngModel #sat="ngModel" type="text" class="form-control" id="sat" name="sat" placeholder="1400" pattern="([4-8][0-9]{2}|9[0-8][0-9]|99[0-9]|1[0-5][0-9]{2}|1600)" maxlength="4">
        <span *ngIf="formErrors.sat" class="text-danger">
          {{ formErrors.sat }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="major_id" class="col-sm-2 control-label">Major</label>
      <div class="col-sm-10">
        <select [ngModel]="student?.major?.major_id" ngModel #major_id="ngModel" class="form-control" name="major_id" id="major_id" required>
          <option *ngFor="let major of majors" [value]="major.major_id">{{major.major}}</option>
        </select>
        <!--<input [ngModel]="student?.major.major_id" ngModel #major_id="ngModel" type="text" class="form-control" id="major_id" name="major_id"> -->
      </div>
    </div>
     <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!studentForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</section>
