<br>
<footer class="fixed-bottom text-white mt-3 shadow">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
            <div class="row">
            <div class="col-md-6 small">&#xA9; 2020 Student Administration System
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2020 SAS, LLC</div>
        </div>
    </div>
</footer>
