<br>
<footer class="fixed-bottom bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
            <div class="row">
            <div class="col-md-6">&#xA9; 2019 Davetown Student Administration System
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2019 Greased Pole, LLC</div>
        </div>
    </div>
</footer>
