<section @fadeInAnimation>
  <!-- <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Majors</li>
</ol> -->

<br/>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<br><br><br>
<h2>Majors</h2>

<a class="btn btn-primary" routerLink="/major/add">Add Major</a><br><br>

<table class="table table-hover table-bordered" id="dataTable">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Major</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let major of majors">
      <td>{{major.major_id}}</td>
      <td>{{major.major}}</td>
      <td class="text-center">
        <a class="btn btn-primary" [routerLink]="['/major/edit/', major.major_id]">Edit</a>&nbsp;
        <button (click)="deleteMajor(major.major_id, major.major)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</section>