<section @fadeInAnimation>

<br><br><br>
<h2 class="summaryHeading">Major Detail</h2>

<div>
  <div class="messages" [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
      {{errorMessage}} {{successMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>

<form novalidate (ngSubmit)="saveMajor(major.major_id)"  #majorForm="ngForm" class="centerContent formStyle">

  <input [(ngModel)]="major.major_id" #major_id="ngModel" type="hidden" name="major_id">

  <div class="form-group">
    <!-- <label for="major" class="col-sm-2 control-label">Major</label> -->
    <div class="col-sm-8">
      <input [(ngModel)]="major.major" type="text" class="form-control" id="major" name="major" placeholder="Major" required maxLength="30">
    </div>
  </div>

   <div class="form-group text-right">
    <div class="col-sm-offset-2 col-sm-8">

      <a class="btn btn-danger btn-margin" (click)="deleteMajor(major.major_id, ' for ' + major.major)">Delete</a>

      <button [disabled]="!majorForm.form.valid" type="submit" class="btn btn-primary btn-margin">Submit</button>
      
      <a class="btn btn-primary btn-margin" routerLink="/major">Cancel</a>
    
    </div>
  </div>

</form>
</section>
