<section @fadeInAnimation>
  <!-- <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Student_Class</li>
</ol> -->

<br/>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<br><br><br>
<h2>Student-Class Cross Reference</h2>

<a class="btn btn-primary" routerLink="/student-class/add">Add Student_Class</a><br><br>

<table class="table table-hover table-bordered" id="dataTable">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th onclick="sortTable(1)"> <i class="fas fa-sort"></i> <u>Student</u></th>
      <th onclick="sortTable(2)"> <i class="fas fa-sort"></i> <u>Class</u></th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student_class of studentclass">
      <td>{{student_class.student_class_id}}</td>
      <td>{{student_class.student?.last_name + ", " + student_class.student?.first_name}}</td>
      <td>{{student_class.class?.subject + " " + student_class.class?.course}}</td>
      <td class="text-center">
        <a class="btn btn-primary" [routerLink]="['/student-class/edit/', student_class.student_class_id]">Edit</a>&nbsp;
        <button (click)="deleteStudentClass(student_class.student_class_id, student_class.student.first_name + ' ' + student_class.student.last_name + ' in ' + student_class.class.subject + ' ' + student_class.class.course)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</section>