<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Grades</li>
</ol>

<br/>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage"  id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<br><br><br>
<h2>Grades</h2>

<a class="btn btn-primary" routerLink="/grade/add">Add Grade</a><br><br>

<table class="table table-sm table-hover table-bordered table-responsive" style="width:90%" id="dataTable">
  <!-- <caption>List of Grades Used by this Institution</caption> -->
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Grade</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grade of grades">
      <td>{{grade.grade_id}}</td>
      <td>{{grade.grade}}</td>
      <td class="text-center">
        <a class="btn btn-primary" [routerLink]="['/grade/edit/', grade.grade_id]">Edit</a>&nbsp;
        <button (click)="deleteGrade(grade.grade_id, grade.grade)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</section>