<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Assignments</li>
</ol>

<br/>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<br><br><br>
<h2>Assignments</h2>

<a class="btn btn-primary" routerLink="/assignment/add">Add Assignment</a>

<table class="table table-striped table-bordered" id="dataTable" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Student ID</th>
      <th>Assignment Number</th>
      <th>Grade</th>
      <th>Class</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assignment of assignments">
      <td>{{assignment.assignment_id}}</td>
      <td>{{assignment.student?.last_name + ", " + assignment.student?.first_name}}</td>
      <td>{{assignment.assignment_nbr}}</td>
      <td>{{assignment.grade?.grade}}</td>
      <td>{{assignment.class?.subject}} {{assignment.class?.course}}</td>
      <td class="text-center">
        <a class="btn btn-primary" [routerLink]="['/assignment/edit/', assignment.assignment_id]">Edit</a>&nbsp;
        <button (click)="deleteAssignment(assignment.assignment_id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</section>