<section @fadeInAnimation>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
      
  <!-- <ol >
    <li><a class="active w-18 p-1" routerLink="/home">Home</a></li>
    <li class="active w-18 p-2">Students</li>
</ol> -->

<br/>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<br><br><br>

<a class="btn btn-primary" routerLink="/student/add">Add Student</a>

<br>
<h2>Students</h2>
<br>

<table datatable id="dataTable" class="table table-hover table-bordered"> 
    <thead class="thead-dark">
      <tr>
        <th onclick="sortTable(0)">ID <i class="fas fa-sort"></i></th>
        <th onclick="sortTable(1)">Last Name  <i class="fas fa-sort"></i></th>
        <th>First Name </th>
        <th onclick="sortTable(3)">Start Date <i class="fas fa-sort"></i></th>
        <th onclick="sortTable(4)">GPA <i class="fas fa-sort"></i></th>
        <th>SAT Score</th>
        <th onclick="sortTable(6)">Major <i class="fas fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.student_id}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.start_date}}</td>
        <td>{{student.gpa}}</td>
        <td>{{student.sat}}</td>
        <td>{{student.major?.major}}</td>
        <td class="text-center">
          <a class="btn btn-dark" [routerLink]="['/student/edit/', student.student_id]"><i class="fas fa-pencil-alt"></i></a>&nbsp;
          <button class="btn btn-dark" (click)="deleteStudent(student.student_id, student.first_name + ' ' + student.last_name)" ><i class="fas fa-trash-alt"></i></button>

        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>

  <table mat-table matSort [dataSource]="students" (matSortChange)="onMatSortChange($event)" class="mat-elevation-z8" style="width: 80%; margin-left: 40px;">
    
      <!-- ID Column -->
      <ng-container matColumnDef="student_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let student"> {{student.student_id}} </mat-cell>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="last_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let student"> {{student.last_name}} </mat-cell>
      </ng-container>
  
      <!-- First Name Column -->
      <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell *matCellDef="let student"> {{student.first_name}} </mat-cell>
      </ng-container>

        <!-- Start Date Column -->
       <!-- <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.startDate}} </mat-cell>
        </ng-container> -->
    
       <!-- Start Date Column -->
       <!-- <ng-container matColumnDef="gpa">
          <mat-header-cell *matHeaderCellDef mat-sort-header> GPA </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.gpa}} </mat-cell>
        </ng-container> -->
    
       <!-- SAT Score Column -->
       <!-- <ng-container matColumnDef="satScore">
          <mat-header-cell *matHeaderCellDef mat-sort-header> SAT Score </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.satScore}} </mat-cell>
        </ng-container> -->
    
       <!-- Major Column -->
       <!-- <ng-container matColumnDef="major">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Major </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.major}} </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let student; columns: displayedColumns;" (click)="onRowClicked(student)"></mat-row>
    
      </table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10,25]"></mat-paginator>
    
  <br>
</section>
