<section @fadeInAnimation>
  <!-- <ol >
    <li><a class="active w-18 p-1" routerLink="/home">Home</a></li>
    <li class="active w-18 p-2">Students</li>
</ol> -->

<br/>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<br><br><br>
<h2>Students</h2>

<a class="btn btn-primary" routerLink="/student/add">Add Student</a>

<br><br>

<div class="table">
  <table datatable id="dataTable" class="table table-hover table-bordered" >
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th onclick="sortTable(1)"> <i class="fas fa-sort"></i> <u>Last Name</u></th>
        <th>First Name</th>
        <th onclick="sortTable(3)"> <i class="fas fa-sort"></i> <u>Start Date</u></th>
        <th onclick="sortTable(4)"> <i class="fas fa-sort"></i> <u>GPA</u></th>
        <th>SAT Score</th>
        <th onclick="sortTable(6)"> <i class="fas fa-sort"></i> <u>Major</u></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.student_id}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.start_date}}</td>
        <td>{{student.gpa}}</td>
        <td>{{student.sat}}</td>
        <td>{{student.major?.major}}</td>
        <td class="text-center">
          <a class="btn btn-light" [routerLink]="['/student/edit/', student.student_id]"><i class="fas fa-pencil-alt"></i></a>&nbsp;
          <button class="btn btn-light" (click)="deleteStudent(student.student_id, student.first_name + ' ' + student.last_name)" ><i class="fas fa-trash-alt"></i></button>

        </td>
      </tr>
    </tbody>
  </table>
  <br>
  
  <!-- <footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
            <div class="row">
            <div class="col-md-6">&#xA9; 2019 Davetown Student Administration System
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2019 Greased Pole, LLC</div>
        </div>
    </div>
  </footer> -->

</div>
</section>