<section @fadeInAnimation>

  <br/>

  <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
      {{errorMessage}} {{successMessage}} 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <br><br><br>

  <a class="btn btn-primary" routerLink="/instructor/add">Add Instructor</a>

  <br>
  <h2>Instructors</h2>
  <br>

    <table mat-table [dataSource]="dataSource"  matSort (matSortChange)="onSortData($event)" class="table-hover mat-elevation-z11" style="width: 80%; margin-left: 160px;">
      
      <!-- ID Column -->
      <ng-container cdkColumnDef="instructor_id">
          <th mat-header-cell *cdkHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *cdkCellDef="let instructor"> {{instructor.instructor_id}} </td>
      </ng-container>
    
      <!-- Last Name Column -->
      <ng-container cdkColumnDef="last_name">
          <th mat-header-cell *cdkHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *cdkCellDef="let instructor"> {{instructor.last_name}} </td>
      </ng-container>
    
      <!-- First Name Column -->
      <ng-container cdkColumnDef="first_name">
          <th mat-header-cell *cdkHeaderCellDef> First Name </th>
          <td mat-cell *cdkCellDef="let instructor"> {{instructor.first_name}} </td>
      </ng-container>

      <!-- Major Column -->
      <ng-container cdkColumnDef="major">
          <th mat-header-cell *cdkHeaderCellDef> Major </th>
          <td mat-cell *cdkCellDef="let instructor"> {{instructor.major?.major}} </td>
      </ng-container>

      <!-- Years of Experience Column -->
      <ng-container cdkColumnDef="years_of_experience">
          <th mat-header-cell *cdkHeaderCellDef mat-sort-header> Experience (yrs) </th>
          <td mat-cell *cdkCellDef="let instructor"> {{instructor.years_of_experience}} </td>
      </ng-container>

      <!-- Tenured Column -->
      <ng-container cdkColumnDef="tenured">
          <th mat-header-cell *cdkHeaderCellDef mat-sort-header> Tenured </th>
          <td mat-cell *cdkCellDef="let instructor"> {{instructor.tenured}} </td>
      </ng-container>

      <!-- Old-Style Edit & Delete Buttons -->

      <ng-container cdkColumnDef="edit">
        <th mat-header-cell  *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let instructor" ><a [routerLink]="['/instructor/edit/', instructor.instructor_id]"><button mat-button ><i class="fas fa-pencil-alt"></i></button></a>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="delete">
        <th mat-header-cell  *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let instructor">
             <button mat-button (click)="deleteInstructor(instructor.instructor_id, instructor.first_name + ' ' + instructor.last_name)"><i class="fas fa-trash-alt"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *cdkRowDef="let instructor; columns: displayedColumns;" (click)="onRowClicked(instructor)"></tr>
      
    </table>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z8" style="width: 80%; margin-left: 160px;"></mat-paginator>

      <br>
      <br>
    
</section>
