<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav">
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/home">Home </a></li>
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/student" >Students </a></li>
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/grade" >Grades </a></li>
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/class" >Classes </a></li>
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/assignment" >Assignments </a></li>
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/instructor" >Instructors </a></li>
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/major" >Majors </a></li>
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/major-class" >Major-Class </a></li>
                <li class="w-18 p-2" routerLinkActive="active"><a routerLink="/student-class" >Student-Class </a></li>
        </ul>
        <div class="form-inline ml-auto">
            <div class="input-group">
                <input id="srchText" type="text" autofocus="autofocus" class="form-control" placeholder="Search the Web"> 
                <span class="input-group-btn">
                    <button id="srchButton" type="submit" class="btn btn-secondary">
                    <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</nav>