<section @fadeInAnimation>
<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/instructor">Instructors</a></li>
    <li class="active">Manage Instructor</li>
</ol>

<br/>

<br><br><br>
<a class="btn btn-primary" routerLink="/instructor">Return to Instructors</a>
<br><br><br>

<h1>Manage Instructor</h1>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- BEGIN Form -->
<form (ngSubmit)="saveInstructor(instructorForm)" #instructorForm="ngForm" class="form-horizontal">

  <!-- hidden instructor_id -->
  <input [ngModel]="instructor?.instructor_id" ngModel #instructor_id="ngModel" type="hidden" name="instructor_id">

  <!-- first_name -->
  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input [ngModel]="instructor?.first_name" ngModel #first_name="ngModel" type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required minlength="2" maxlength="30">
        <span *ngIf="formErrors.first_name" class="text-danger">
          {{ formErrors.first_name }}
        </span>
    </div>
  </div>

  <!-- last_name -->
  <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input [ngModel]="instructor?.last_name" ngModel #last_name="ngModel" type="text" class="form-control" id="last_name" name="last_name"  placeholder="Last Name" required minlength="2" maxlength="30">
      <span *ngIf="formErrors.last_name" class="text-danger">
        {{ formErrors.last_name }}
      </span>
    </div>
  </div>

  <!-- major_id -->
  <div class="form-group">
    <label for="major_id" class="col-sm-2 control-label">Major</label>
    <div class="col-sm-10">
      <select [ngModel]="instructor?.major?.major_id" ngModel #major_id="ngModel" class="form-control" name="major_id" id="major_id" required>
        <option *ngFor="let major of majors" [value]="major.major_id">{{major.major}}</option>
      </select>
    </div>
  </div>
 
  <!-- years_of_experience -->
  <div class="form-group">
    <label for="years_of_experience" class="col-sm-2 control-label">Years of Experience</label>
    <div class="col-sm-10">
      <!-- \d is the regular expression for a number, * means that it accepts more than one of them -->
      <input [ngModel]="instructor?.years_of_experience" ngModel #years_of_experience="ngModel" type="text" class="form-control" id="years_of_experience" name="years_of_experience" placeholder="Enter Number of years of experience" pattern="\d*" required maxLength="2">
      <span *ngIf="formErrors.years_of_experience" class="text-danger">
        {{ formErrors.years_of_experience }}
      </span>
    </div>
  </div>
  
  <!-- tenured -->
  <div class="form-group">
    <label for="tenured" class="col-sm-2 control-label">Tenured</label>
    <div class="col-sm-10">
      <!--<input [ngModel]="instructor?.tenured" ngModel #tenured="ngModel" type="text" class="form-control" id="tenured" name="tenured" placeholder="Enter 'true' if tenured, 'false' if not" pattern="(?:true|false)" required>-->
      <input [ngModel]="instructor?.tenured" ngModel #tenured="ngModel" type="text" class="form-control" id="tenured" name="tenured" placeholder="Enter '1' if tenured, '0' if not" pattern="(?:1|0)" required maxlength="1">
     <span *ngIf="formErrors.tenured" class="text-danger">
        {{ formErrors.tenured }}
      </span>
     </div>
  </div>
  
  <!-- submit button -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button [disabled]="!instructorForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>
</section>