@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-color: #dffaea;
}
/* TABLES */

table.table {
    width: auto;
    margin: 0 auto;
}

/** only for the body of the table. */
table.table tbody td {
    padding: 6px;
    margin: 0px;
}

thead {
    font-variant: small-caps;
}

.navbar {
    width: 100%;
    min-height: 40px;
    background-color: black;
}

.navbar-nav {
    font-variant: small-caps;
    padding-left: 10px;
}
  
  .navbar-brand {
    padding: 0 12px;
    height: 80px;
    line-height: 70px;
}
  
.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 20px;
    padding: 8px 8px !important;
}

/* this is used by the nav-bar seach function */
.input-group {
    /* font-family: fantasy; */
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 15px;
}
  
/** aligning the button with the text box */
.btn-block {
    padding-top: 4px;
}

.button-push {
    margin-left: 160px;
}

.container {
    margin: 0px;
    padding: 0px;
}

.container p {
    width: 75%;
}

 
.small-img{
  position: absolute;
  right: 43%;
  top: 63%;
  width: 15%;
  border: 5px solid black;
}

/* wrapper and styler massage the top hero image */
.wrapper{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
   #styler {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.img-style {
    filter: drop-shadow(0 0 15px #333);
}

h1 {
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 40px;
    font-style: bold;
    font-variant: small-caps;
}

h2 {
    font-variant: small-caps;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding-bottom: 15px;
    text-decoration: underline;
}

hr {
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 3px double #8c8b8b;
}

.card-style {
    /* this padding pushes the card to the left */
    padding-left: 60px;
    border-right: 1px solid black;
}


/* LINKS */

a {
    color: white;
    text-decoration: none;
    font-style: normal;
}

a:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
    font-style: bold;
}

/* FOOTER STYLING */

footer {
    font-variant: small-caps;
    width: 100%;
}

/* RESPONSE MESSAGE STYLING */

.messages {
    width: 300px;
    margin-top: 0;
    border: 2px solid black;
    font-variant: small-caps;
}

/* MAT-TABLE STYLING */

.mat-table {
    overflow: auto;
    padding: 8px;
    margin: 1px;
    border: 1px solid black;
    background-color: #dffaea;
}

.mat-cell {
    color: black;
}

.mat-button {
    color: white;
    background-color: darkgray;
}

.mat-button:hover {
    color: white;
    background-color: blue;
}

.mat-header-cell {
    color: white;
    background-color: darkgray;
    font-style: bold;
    font-variant: small-caps;
    font-size: 15px;
    vertical-align: center;
    text-align: center;
}

.mat-paginator {
    background-color: lightgray;
}

/* Customize container

    TODO: Need to rework these for different sized views
*/

@media (min-width: 600px) {
    .container {
        /*max-width: 768px;*/
        max-width: 100%;
        width: 100%;
    }
}


/* Customize container */

@media (min-width: 800px) {
    .container-fluid {
        max-width: 100%;
    }
}

/* Validation formatting for screen fields */

.ng-valid[required], .ng-valid.required  {
  border-left: 8px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 8px solid #a94442; /* red */
}

#deletemsg {
    margin-top: 75px;
}