@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-color: #dffaea;
}

/* TABLES */

table.table {
    /* width: auto;
    margin: 0 auto; */
}

/** only for the body of the table. */
table.table tbody td {
    padding: 6px;
    margin: 0px;
}

thead {
    font-variant: small-caps;
}

/* NAVBAR */

.navbar {
    width: 100%;
    min-height: 40px;
    background-color: black;
}

.navbar-nav {
    font-variant: small-caps;
    padding-left: 10px;
}
  
.navbar-brand {
    padding: 0 12px;
    height: 80px;
    line-height: 70px;
}
  
.navbar-toggle {
    margin-top: 20px;
    padding: 8px 8px !important;
}

/* this is used by the nav-bar seach function */
.input-group {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 15px;
}
  
/** aligning the button with the text box */
.btn-block {
    padding-top: 4px;
}

.btn-margin {
    margin-left: 15px;
}

.button-push {
    margin-left: 160px;
}

.button-push-md {
    margin-left: 360px;
}

/*  CONTAINER DEFAULTS */ 
.container {
    margin: 0px;
    padding: 0px;
}

.container p {
    width: 75%;
}

.small-img{
  position: absolute;
  right: 43%;
  top: 63%;
  width: 15%;
  border: 5px solid black;
}

/* wrapper and styler massage the top hero image */
.wrapper{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
   #styler {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.img-style {
    filter: drop-shadow(0 0 15px #333);
}

h1 {
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 40px;
    font-style: bold;
    font-variant: small-caps;
}

h2 {
    font-variant: small-caps;
    font-size: 30px;
    margin: 0px;
    padding-bottom: 15px;
    text-decoration: underline;
}

.summaryHeading {
    text-align: center;
}

h3 {
    font-variant: small-caps;
    font-style: italic;
    font-size: 21px;
    padding-bottom: 10px;
}

hr {
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 3px double #8c8b8b;
}

.labelNoWrap {
    white-space: nowrap;
}

.centerContent {
    margin: 0 auto;
    width: 40% /* value of your choice which suits your alignment */
}

.formStyle {
    padding: 10px;
}

* PLACEHOLDER STYLING */

.form-control::-webkit-input-placeholder { color: red; opacity: 0.3;}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: red; opacity: 0.3;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: red; opacity: 0.3;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: red; opacity: 0.3;}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: red; opacity: 0.3;}  /* Microsoft Edge */
.form-control::placeholder { color: red; opacity: 0.3;}

/* HOME PAGE CARD STYLING */

.card-style {
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 55px;
    padding-bottom: 30px;
    border-right: 2px solid black;
}

.card-style h2 {
    padding-left: 80px;
}

.card-style p {
    padding-left: 40px;
}

.card-style img {
    padding-left: 40px;
}

/* LINKS */

a {
    color: white;
    text-decoration: none;
    font-style: normal;
}

a:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
    font-style: bold;
}

/* FOOTER STYLING */

footer {
    height: 50px;  
    font-variant: small-caps;
    width: 100%;
}

/* RESPONSE MESSAGE STYLING */

.messages {
    width: 300px;
    margin-top: 0;
    border: 2px solid black;
    font-variant: small-caps;
}

/* MAT-TABLE STYLING */

.mat-table {
    padding: 8px;
    margin: 1px;
    /* border: 1px solid black; */
    background-color: #dffaea;
}

.mat-cell {
    color: black;
}

.mat-button {
    color: white;
    background-color: darkgray;
}

.mat-button:hover {
    color: white;
    background-color: blue;
}

.mat-header-cell {
    color: white;
    background-color: darkgray;
    font-style: bold;
    font-variant: small-caps;
    font-size: 15px;
    vertical-align: center;
    text-align: center;
}

.mat-paginator {
    background-color: lightgray;
}

.mat-column {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-sm {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-md {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* Customize container

    TODO: Need to rework these for different sized views
*/

@media (min-width: 600px) {
    .container {
        /*max-width: 768px;*/
        max-width: 100%;
        width: 100%;
    }
}


/* Customize container */

@media (min-width: 800px) {
    .container-fluid {
        max-width: 100%;
    }
}

/* Validation formatting for screen fields */

.ng-valid[required], .ng-valid.required  {
  border-left: 8px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 8px solid #a94442; /* red */
}

#deletemsg {
    margin-top: 75px;
}