<!-- <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol> -->
    
    <br>
    <br>

    <!-- Begin JumboTron -->
    <div class="wrapper">
        <img src="assets/images/education.jpg" class="big-img" id="styler">
        <img class="rounded-circle small-img" src="assets/images/sweaty.jpg" alt="School mascot, Sweaty Bob">
    </div>
    <!-- End JumboTron -->

    <br>
    <div class="text-center">
         <h1>Davetown Student Administration System</h1>
         <h2><small><i>&quot;Fostering Growth and Understanding Through Neverending Academic Toil&quot;</i></small></h2>
    </div>
    
    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 card-style">
                <h2>Students</h2>
                <img class="rounded" height="168" width="300" src="assets/images/students_1.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ametrisus.</p>
                <p class="text-center"><a class="btn btn-outline-primary" href="/student" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Manage Students</a>
                </p>
            </div>
            <div class="col-lg-4 card-style">
                <h2>Grades</h2>
                <img class="rounded" height="168" width="300" src="assets/images/grades.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ametrisus.</p>
                <p class="text-center"><a class="btn btn-outline-primary" href="/grade" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Manage Grades</a>
                </p>
            </div>
            <div class="col-lg-4 card-style">
                <h2>Classes</h2>
                <img class="rounded" height="168" width="300" src="assets/images/classes.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ametrisus.</p>
                <p class="text-center"><a class="btn btn-outline-primary" href="/class" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Manage Classes</a>
                </p>
            </div>
        </div>
    </div>
        <!-- End Container #1 / End Row #1 -->
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 card-style">
                <h2>Assignments</h2>
                <img class="rounded" height="168" width="300" src="assets/images/assignments.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ametrisus.</p>
                <p class="text-center"><a class="btn btn-outline-primary" href="/assignment" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Manage Assignments</a>
                </p>
            </div>
            <div class="col-lg-4 card-style">
                <h2>Instructors</h2>
                <img class="rounded" height="168" width="300" src="assets/images/instructors.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ametrisus.</p>
                <p class="text-center"><a class="btn btn-outline-primary" href="/instructor" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Manage Instructors</a>
                </p>
            </div>
            <div class="col-lg-4 card-style">
                <h2>Majors</h2>
                <img class="rounded" height="168" width="300" src="assets/images/majors.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ametrisus.</p>
                <p class="text-center"><a class="btn btn-outline-primary" href="/major" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Manage Majors</a>
                </p>
            </div>
        </div>
    </div>
    <!-- End Container #2 / End Row #2 -->
    
<footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
            <div class="row">
            <div class="col-md-6">&#xA9; 2019 Davetown Student Administration System
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2019 Greased Pole, LLC</div>
        </div>
    </div>
</footer>
