<!-- <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol> -->
    
    <br>
    <br>

    <!-- Begin JumboTron -->
    <div class="wrapper">
        <img src="assets/images/education.jpg" class="big-img" id="styler">
        <img class="rounded-circle small-img" src="assets/images/sweaty.jpg" alt="School mascot, Sweaty Bob">
    </div>
    <!-- End JumboTron -->

    <br>
    <div class="text-center">
         <h1>University Administration System</h1>
         <h2><small><i>&quot;Fostering Growth and Understanding Through Neverending Academic Toil&quot;</i></small></h2>
    </div>
    
    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Students</h2>
                <img class="rounded" src="assets/images/students_1.jpg">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                    ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                    sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                    odio dui.</p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&#xA0;View details &#xBB;</a>
                </p>
            </div>
            <div class="col-lg-4 card-style">
                <h2>Grades</h2>
                <img class="rounded" src="assets/images/grades.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus,
                    tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit ametrisus.</p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&#xA0;View details &#xBB;</a>
                </p>
            </div>
            <div class="col-lg-4 card-style">
                <h2>Classes</h2>
                <img class="rounded" src="assets/images/classes.jpg">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                    ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                    sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                    odio dui.</p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&#xA0;View details &#xBB;</a>
                </p>
            </div>
        </div>
    </div>
        <!-- End Container #1 / End Row #1 -->
    
    <br>
        
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Assignments</h2>
                <img class="rounded" src="assets/images/assignments.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus,
                    tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit ametrisus.</p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&#xA0;View details &#xBB;</a>
                </p>
            </div>
            <div class="col-lg-4 card-style">
                <h2>Instructors</h2>
                <img class="rounded" src="assets/images/instructors.jpg">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                    ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                    sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                    odio dui.</p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&#xA0;View details &#xBB;</a>
                </p>
            </div>
            <div class="col-lg-4 card-style">
                <h2>Majors</h2>
                <img class="rounded" src="assets/images/majors.jpg">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                    ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                    sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                    odio dui.</p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&#xA0;View details &#xBB;</a>
                </p>
            </div>
        </div>
    </div>
    <!-- End Container #2 / End Row #2 -->
    
    <br>
    <br>
        
<footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
            <div class="row">
            <div class="col-md-6">&#xA9; 2018 University Administration System
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2017 Brand, Inc.</div>
        </div>
    </div>
</footer>
