<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<br/>

    <!-- Begin JumboTron -->
    <div class="wrapper">
        <img src="assets/images/education.jpg" class="big-img" id="styler">
        <img class="img-circle small-img" src="assets/images/sweaty.jpg">
    </div>
     <!-- End JumboTron -->

    <div class="text-center">
            <h1>Honest University Course Administration System</h1>
            <h2><small><i>"Fostering Growth and Understanding Through Neverending Academic Toil"</i></small></h2>
    </div>

    <hr>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">Students</h2>
                <img class="img-rounded" src="assets/images/students_1.jpg">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Grades</h2>
                <img class="img-rounded" src="assets/images/grades.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ametrisus.
                </p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Classes</h2>
                <img class="img-rounded" src="assets/images/classes.jpg">
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;View details &raquo;</a></p>
            </div>
        </div> <!-- End Row -->

        <hr>

        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">Assignments</h2>
                <img class="img-rounded" src="assets/images/assignments.jpg">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ametrisus.
                </p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Instructors</h2>
                <img class="img-rounded" src="assets/images/instructors.jpg">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Majors</h2>
                <img class="img-rounded" src="assets/images/majors.jpg">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;View details &raquo;</a></p>
            </div>
        </div> <!-- End Row -->

    </div>
    <!-- end container -->

    <footer class="footer">
        <div class="container">
            <p></p>
             <p>&copy; 2016 Honest University, Inc. <small class="text-muted"><i>*No longer affiliated with Trump University*</i></small></p>
             <p></p>
        </div>
    </footer>
    <!-- end footer -->
    
 